footer{
	background-color: var(--dark-100);
	transition: color 0;
	color:var(--white);
	padding-block:0.5rem;
	
	& .navbar{
		display:flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.logo{
		display:flex;
		flex-grow:1;
		gap:1rem;
		justify-content: center;
		align-items: center;
	}

	.nav-left,
	.nav-right{
		display: flex;
		align-content: center;
		align-items:center;
		flex-wrap: wrap;
		gap:1rem;
		margin-inline-end: 0;
	}

	& .logo-img,
	  .user-img{
	display:flex;
	color:var(--dark-100);
	font-weight:700;
	background-color:var(--white-050);
	height:2rem;
	width:2rem;
	border-radius:50%;
	justify-content: center;
	align-items: center;
	}

	& .logo-text{
	font-size:1rem;
	}
	
	& a{
		font-weight:700;
		color:var(--white-100);
		text-decoration: none;
		font-size:1rem;
	}

	a:hover{
		color:var(--white-050);
	}
	
	& .active{
	text-decoration-line: underline;
	text-decoration-thickness: var(--size-010);
	color:var(--white-050);
	}
	
	& .active:hover{
		cursor: default;
	}

	button{
		display: flex;
		border-radius: 0;
		align-items: center;
	}

	& .cta-button {
	background-color: var(--red-100)!important;
	border-radius:var(--border-radius-050);
	}

	& .cta-button:hover{
		background-color: var(--red-075);
	}
}